@import url(./fonts.css);
@import url(./partials/_variables.css);
.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/*end navigation*/


/*start banner area */


/*end banner area*/

.site-main .about-area {
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2>span {
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph>p {
    padding: .4rem 0;
}


/*about area end */


/*subscribe us area */

.site-main .subscribe-us-area .subscribe {
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
    font: normal 700 30px/ 35px var(--roboto);
    color: black;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
    font: normal 50 25px/ 25px var(--roboto);
    color: black;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
    color: black;
}